.ctn-card-info{
    position: relative;
    width: 280px;
    height: 280px;
    padding: 30px;
    background-color: #3B6EF8;
    border-radius: 8px;
}

.ctn-card-inner{
    display: flex;
    flex-direction: column;
}

.title-card-info{
    font-weight: 700;
    font-size: 2em;
    color: white;
}

.para-card-info{
    font-size: 1.1em;
    line-height: 1.5em;
    color: white;
}

.more{
    margin-top: 10px;
    background-color: white;
    color: #3B6EF8;
    border-radius: 4px;
    width: 70%;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.more > .icon {
    margin-left: 5px;
}

.guitar{
    z-index: -2;
    position: absolute;
    bottom: 120px;
    width: 300px;
}

.icon-title{
    margin-left: 10px;
    font-size: 0.8em;
}