svg{
    width: 100%;
}

h1{
    font-size: 3.8em;
    color: white;
    line-height: 1.25em;
}

.cta-landing h3{
    font-weight: 500;
    color: white;
    margin-top: -35px;
    line-height: 1.8em;
}

/* -- SECTION 1 -- */

.ctn-layout-1{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F49AF;
    min-height: 100vh;
}

.cta-register{
    margin-top: 35px;
}

.cta-register > button{
    width: 220px;
    border-radius: 4px;
    font-size: 1.3em;
    padding-top: 13px;
    padding-bottom: 13px;
}

.cta-register > button:first-child{
    border: 4px solid white;
    background-color: white;
    color: #1F49AF;
}


.cta-register > button:nth-child(2){
    margin-left: 20px;
    background-color: transparent;
    border: 4px solid white;
}


.cta-landing{
    margin-bottom: 100px;
    margin-left: 150px;
}

.ctn-img{
    margin-right: 150px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave{
    position: absolute;
    display: flex;
    bottom: -1px;
    width: 100%;
}

/* -- SECTION 2 -- */

.ctn-layout-2{
    background-color: #1b53db;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.infostrument{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.infostrument h2{
    font-size: 3em;
}

.infostrument h3{
    font-size: 1.6em;
    margin-top: -25px;
    font-weight: 400;
}

.ctn-card-instrument{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.ctn-card-instrument-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- SECTION 3 -- */

.ctn-layout-3{
    background-color: #1F49AF;
    position: relative;
    z-index: 1000;
    min-height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wave2{
    background-color: transparent;
    position: absolute;
    top: -1px;
    width: 100%;
    transform: rotate(180deg);
}

.card-info-service{
    margin-top: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    display: flex;    
    margin-top: 130px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer-title-light{
    font-size: 2em;
    font-weight: 400;
    color: white;
}

.footer-title-bold{
    font-weight: 700;
}

.no-margin{
    margin-top: 0px;
}
