#landing-ctn-1{
  background-color: #1F49AF;
  height: 100vh;
}

.ctn-navbar{
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #fff;
}

.ctn-logo-nav{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name{
  color:#1F49AF;
  font-size: 1.3em;
}

.light-name{
  font-weight: 500;
}

.burger-nav{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 35px;
}

.line{
  background-color: #1F49AF;
  width: 30px;
  height: 2px;
  display: inline-block;
}

.line-2{
  margin-top: 7px;
}

.line-3{
  margin-top: 7px;
}

.ctn-search-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.ctn-info-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  font-size: 0.85em;
}

.ctn-info-nav > button {
  border-radius: 4px;
  padding: 12px;
  margin-left: 20px;
}

.little1{
  width: 100px;
}

.little2{
  width: 250px;
  margin-right: 50px;
}

.chevron{
  position: relative;
  top: 1px;
  margin-left: 10px;
}
