a{
  text-decoration: none;
  color: #1F49AF;
}

.relative-input{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.relative-input > input{
  padding-left: 50px !important;
  outline: none;
  width: 400px !important;
  color: #474747;
  height: 68% !important;
  background-color: #f1f1f1 !important;
  font-size: 1.1em !important;
}

.ctn-navbar{
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  background-color: #fff;
}

.ctn-home{
  display: flex;
  height: 100%;
  margin-left: 50px;
}

.ctn-burger-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  cursor: pointer;
}

.line{
  width: 100%;
  height: 3px;
  background-color: #1F49AF;
}

.line:nth-child(2){
  margin-top: 5px;
  width: 100%;
}

.line:nth-child(3){
  margin-top: 5px;
}

.ctn-logo{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: #1F49AF;
}

.ctn-logo h3{
  font-size: 1.3em;
}

.ctn-logo h3 > span{
  font-weight: lighter;
  font-size: 1em;
}

.ctn-searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 10px;
}

.ctn-searchbar > button{
  background-color: #1F49AF;
}

.searchIcon{
  position: absolute;
  left: 20px;
  pointer-events: none;
  color: #808080;
}

.chevron{
  position: relative;
  left: 10px;
  top: 1px;
}

.ctn-button-dropdown{
  position: relative;
}

.ctn-button-dropdown button{
  background-color: #1F49AF;
  position: relative;
  z-index: 2000;
  width: 180px;
}

.dropdown-menu-instrument{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.activeDropdown{
  display: block;
}

.dropdown-menu-instrument ul{
  list-style: none;
  padding: 0;
  margin-top: -5px;
}

.dropdown-menu-instrument ul li{
  background-color: #f1f1f1 ;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #1d1d1d;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.95em;
  cursor: pointer;
}

.dropdown-menu-instrument ul li:hover{
  transition: background-color 0.2s ease;
  color: white;
}

.dropdown-menu-instrument ul li:first-child:hover{
  background-color: black;
}

.dropdown-menu-instrument ul li:nth-child(2):hover{
  background-color: rgb(230, 96, 96);
}

.dropdown-menu-instrument ul li:nth-child(3):hover{
  background-color: rgb(92, 216, 86);
}

.dropdown-menu-instrument ul li:nth-child(4):hover{
  background-color: rgb(59, 110, 248);
}

.dropdown-menu-instrument ul li:last-child{
  border-radius: 0px 0px 4px 4px;
  border: none;
}

.ctn-social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.facebook,.instagram,.twitter,.tiktok{
  font-size: 1.4em;
  color: #1F49AF;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.facebook:hover,.instagram:hover,.twitter:hover,.tiktok:hover{
  color: rgb(59, 110, 248)
}

.activePiano{
  background-color: #1d1d1d !important;
}

.activeGuitare{
  background-color: rgb(230, 96, 96) !important;
}

.activeBatterie{
  background-color: rgb(92, 216, 86) !important;
}

.activeSaxophone{
  background-color: rgb(59, 110, 248) !important;
}






